{% extends 'base.html' %}
{% block content %}

    {% if user.is_authenticated %}
        <p>Bonjour {{ user.username }}, vous êtes déja connectés, Merci de revenir à la page d'accueil</p>
        <button><a href="{% url 'home' %}">Accueil</a></button>

    {% else %}
        <div id = signup_form>
        <p>Inscrivez-vous</p>
        {% if form.errors %}
            {{ form.errors }}
        {% endif %}
        <form method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <button><a href="{% url 'login' %}">Retour</a></button>
            <button type="submit" >S’inscrire</button>
        </form>
        </div>
    {% endif %}

{% endblock content %}
