{% extends 'base.html' %}
{% block content %}

    <div id = "follow_user_form">

        <h2>Suivre d'autres utilisateurs</h2>
            <form method="post">
                {{input_form}}

                {{ form.as_p }}
                {{message}}
                {% csrf_token %}
                <button type="submit" >Envoyer</button>
            </form>


            <p>Abonnements</p>
            <table>
            {% for subscription in subscriptions %}
                <tr>
                    <td>{{ subscription.username }}</td>
                    <td><a href="{% url 'follow_user_delete' subscription.id  %}">Désabonner</a> </td>

                </tr>
            {% endfor %}
            </table>


            <p>Abonnés</p>
            <table>
            {% for subscriber in subscribers %}
                <tr>
                    <td>{{ subscriber }}</td>
                </tr>
            {% endfor %}
            </table>
  

    </div>
{% endblock content %}
