{% extends 'base.html' %}
{% load reviews_app_extras %}

{% block content %}
    <div id = homeblocpage>

        <p>Vous êtes connecté en tant que {{ user.username }}</p>

        <div id="ticket_and_review_creation">
            <button><a href="{% url 'ticket-create' %}">Demander une critique</a></button>
            <button><a href="{% url 'review_and_ticket-create' %}">Créer une critique</a></button>    
        </div>

        {% for instance in tickets_and_reviews %}
            {% if instance|model_type == 'Ticket' %}
                <div class="ticket">
                    {% include 'reviews_app/partials/ticket_snippet.html' with ticket=instance %}
                    {% if instance in tickets_without_review %}
                        <br>
                        <button class = "button--answer_a_ticket"><a href="{% url 'review-create-for-a-ticket' instance.id %}">Créer une critique</a></button>    
                    {% endif %}
                </div>

            {% elif instance|model_type == 'Review' %}
                <div class="review">
                    {% include 'reviews_app/partials/review_snippet.html' with review=instance %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock content %}
