{% extends 'base.html' %}

{% load reviews_app_extras %}


{% block content %}

    <p>Vous êtes connecté en tant que {{ user.username }}</p>

 
    <button><a href="{% url 'ticket-create' %}">Demander une critique (creer un ticket)</a></button>
    <button><a href="{% url 'review_and_ticket-create' %}">Créer une critique (qui n'a pas encore de ticket)</a></button>    


    <br>
    <br>

    {% for instance in tickets_and_reviews %}
        {% if instance|model_type == 'Ticket' %}
            <div class="ticket">
                <p>{{ instance.user }} a demandé une critique</p>
                <p>{{ instance.time_created }}</p> 
                <p>{{ instance.title }} lalala</p>
                <p>{{ instance.description }}</p>
                {% if instance.image %}
                    <img src="{{ instance.image.url }}">
                {% endif %}

                {% if instance in tickets_without_review %}
                    <button><a href="{% url 'review-create-for-a-ticket' instance.id %}">Créer une critique</a></button>    
                {% endif %}
            </div>



        {% elif instance|model_type == 'Review' %}
            <div class="review">
                <p>{{ instance.user }} a posté une critique</p>
                <p>{{ instance.time_created }}</p>
                <p>{{ instance.headline }}</p>
                <p>{{ instance.rating }}</p>
                <p>{{ instance.body }}</p>

                <div class="ticket-in-review">
                    <p>Ticket - {{ instance.ticket.user }}</p>
                    <p>{{ instance.ticket.title }}</p>
                    {% if instance.ticket.image %}
                        <img src="{{ instance.ticket.image.url }}">
                    {% endif %}
                </div>
            </div>
        {% endif %}
    <br>
    {% endfor %}


{% endblock content %}
