{% extends 'base.html' %}

    {% block content %}
    <div id = "review_creation_for_ticket">
        <h2>Créer une nouvelle critique</h2>

        <p>Vous êtes en train de poster en réponse à</p>

        <div class="ticket">
            {% include 'reviews_app/partials/ticket_snippet.html' with instance=instance %}
        </div>

        <div class="review-creation-form">
        {% include 'reviews_app/partials/review_modification_snippet.html' with instance=instance %}
        </div>
    </div>
{% endblock %}


