{% extends 'base.html' %}
{% block content %}
    <h1>Modifier votre critique</h1>

    <p>Vous êtes en train de poster en réponse à</p>
    <div class="ticket">
        <p>{{ ticket.user }} a demandé une critique</p>
        <p>{{ ticket.title }}</p>
        <p>{{ ticket.description }}</p>
        {% if ticket.image %}
            <img src="{{ ticket.image.url }}">
        {% endif %}
    </div>

    <p>Critique</p>    
    <form method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <input type="submit" value="Envoyer">
    </form>
    <button><a href="{% url 'my-posts' %}">Retour</a></button>    
{% endblock %}


