{% extends 'base.html' %}
{% block content %}
    <h1>Modifier votre ticket</h1>
    <form method="post" enctype="multipart/form-data">

        
        <p>Titre</p>
        {{ form.title }}

        <p>Description</p>
        {{ form.description }}

        <p>Image</p>
        {% if ticket.image %}
            <img src="{{ ticket.image.url }}">
        {% endif %}
 
        {{ form.image }}

        {% csrf_token %}
        <br>

        <input type="submit" value="Envoyer">
    </form>



    <button><a href="{% url 'my-posts' %}">Retour</a></button>    
{% endblock %}


