/*========== ALL WEBSITE ==========*/

/*Default font*/
*{
    font-family: 'trebuchet MS', georgia, sans-serif; /* 'lane_-_narrowregular' deleted --> bug in console*/
    color: rgb(50, 50, 50);
}


/*Header*/
header
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    /*Allignement
    Principal axis : justify-content : flex-start/ flex-end/ center/ space-between/ space-around*/
    justify-content: space-around;

    /*Secondary axis : align-items : stretch /flex-start /flex-end /center/baseline*/
    align-items: center;

    border-width: 2px;
    border-color:  rgb(50, 50, 50);
    border-style: solid;
}


/*==============================*/
/*========== HOMEPAGE ==========*/
#homepage
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    /*Allignement
    Principal axis : justify-content : flex-start/ flex-end/ center/ space-between/ space-around*/
    justify-content: space-around;

    /*Secondary axis : align-items : stretch /flex-start /flex-end /center/baseline*/
    align-items: center;

    /*Display borders for testing*/
    /*border-width: 2px;
    border-color:  rgb(200,200,200);
    border-style: solid;*/
}

#homepage__signup, #homepage__login
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    /*Allignement
    Principal axis : justify-content : flex-start/ flex-end/ center/ space-between/ space-around*/
    justify-content: center;

    /*Secondary axis : align-items : stretch /flex-start /flex-end /center/baseline*/
    align-items: center;


    padding-top: 5%;
    

    /*Display borders for testing*/
    /*border-width: 1px;
    border-color:  rgb(200,200,200);
    border-style: solid;*/
}



/*==============================*/
/*========== TEST ON FORMS ==========*/
.helptext, #signup_form ul li
{
    color: rgb(150, 150, 150);
    font-size: 0.8em;
}



#signup_form, #follow_user_form
{
    display: flex;
    flex-direction : column;
    flex-wrap: wrap;

    /*Allignement
    Principal axis : justify-content : flex-start/ flex-end/ center/ space-between/ space-around*/
    justify-content: center;

    /*Secondary axis : align-items : stretch /flex-start /flex-end /center/baseline*/
    align-items: center;
}

nav
{
    display: flex;
    flex-direction : row;

    /*Allignement
    Principal axis : justify-content : flex-start/ flex-end/ center/ space-between/ space-around*/
    justify-content: space-between;

    /*Secondary axis : align-items : stretch /flex-start /flex-end /center/baseline*/
    align-items: center;

    flex-wrap: wrap;
}

nav a
{
    margin: 3px;
    font-size: 0.8em;
}

button
{
    background-color:  rgb(255,255,255);
    border-radius: 5px;
    border-color: rgb(0,0,0);
}

a{
    text-decoration: none;    

}


#homeblocpage
{
    display: flex;
    flex-direction : column;

    /*Allignement
    Principal axis : justify-content : flex-start/ flex-end/ center/ space-between/ space-around*/
    justify-content: center;

    /*Secondary axis : align-items : stretch /flex-start /flex-end /center/baseline*/
    align-items: center;
}

.ticket, .review
{
    width: 55%;

    /*Display borders for testing*/
    border-width: 1px;
    border-color:  rgb(50, 50, 50);
    border-style: solid;

    margin-top: 2%;
       
}



.ticket-in-review
{
    width: 80%;

    /*Display borders for testing*/
    border-width: 1px;
    border-color:  rgb(50, 50, 50);
    border-style: solid;

    margin: auto;
}

.ticket p, .ticket img, .review p, .ticket-in-review img, .ticket-in-review p
{
    margin-left: 2%;
}

.time_created
{
    text-align: right;
    font-size: 0.8em;
}



table, .table-link-td
{
    border-width: 1px;
    border-color:  rgb(100, 100, 100);
    border-style: solid;
}

#head_title
{
    text-align: center;
    font-weight: bold;
}

.head_space
{
    width: 30%;
}

#ticket_and_review_creation
{
    width: 55%; /*as for .ticket, and .review width*/

    display: flex;
    flex-direction : row;

    /*Allignement
    Principal axis : justify-content : flex-start/ flex-end/ center/ space-between/ space-around*/
    justify-content: space-around;

    /*Secondary axis : align-items : stretch /flex-start /flex-end /center/baseline*/
    align-items: center;
}
#ticket_and_review_creation button
{
    width: 30%;
}

.time_created, .user_answers_review, .ticket--user_asks_review
{
    padding: 0;
    margin: 0;
}

.ticket--title, .review--headline
{
    font-weight: bold;
}

.ticket
{
    display: flex;
    flex-direction : column;

    /*Allignement
    Principal axis : justify-content : flex-start/ flex-end/ center/ space-between/ space-around*/
    justify-content: flex-start;

    /*Secondary axis : align-items : stretch /flex-start /flex-end /center/baseline*/
    align-items: flex-start;
}

.button--answer_a_ticket
{
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 10%;
    
    align-self: flex-end;
}

.ticket .time_created
{
align-self: flex-end;
}

h2
{
    margin-top: 5%;
    text-align: center;
}

table
{
    width: 60%;
}

.table-link-td
{
    width: 20%;
    text-align: center;
}

.ticket-creation-form
{
    width: 80%;

    display: flex;
    flex-direction : column;

    /*Allignement
    Principal axis : justify-content : flex-start/ flex-end/ center/ space-between/ space-around*/
    justify-content: space-between;

    /*Secondary axis : align-items : stretch /flex-start /flex-end /center/baseline*/
    align-items: stretch
}

.ticket-creation-form button
{
    width: 20%;
    align-self:flex-end;
}



.ticket_and_review-review_part, .ticket_and_review-ticket_part
{
    margin: auto;
    width: 80%;

    display: flex;
    flex-direction : column;

    /*Allignement
    Principal axis : justify-content : flex-start/ flex-end/ center/ space-between/ space-around*/
    justify-content: space-between;

    /*Secondary axis : align-items : stretch /flex-start /flex-end /center/baseline*/
    align-items: center;

    border-width: 1px;
    border-color:  rgb(100, 100, 100);
    border-style: solid;

    padding-bottom: 3%;
}

.ticket_and_review-review_part *, .ticket_and_review-ticket_part *
{
    width: 90%;
}

.ticket_and_review-review_part button
{
    width: 20%;
    align-self: flex-end;
    margin: 3% 5% 3% 0% 
}