/*__PLAN__*/
/*
_ALL WEBSITE
_HOMEPAGE (login.html)
_SIGN-UP PAGE
_BUTTONS 
_HOME PAGE (home.html and my_posts.html) 
_TICKETS 
_RATING RADIO BUTTONS
_FOLLOWERS PAGE
_PICTURES 
*/



/*==============================*/
/*========== ALL WEBSITE ==========*/

/*Default font*/
*{
    font-family: 'trebuchet MS', georgia, sans-serif;  
    color: rgb(50, 50, 50);
}

h2
{
    text-align: center;
}


/*Header*/
header
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    /*Allignement
    Principal axis : justify-content : flex-start/ flex-end/ center/ space-between/ space-around*/
    justify-content: space-around;

    /*Secondary axis : align-items : stretch /flex-start /flex-end /center/baseline*/
    align-items: center;

    border-width: 2px;
    border-color:  rgb(50, 50, 50);
    border-style: solid;
}

#head_title
{
    text-align: center;
    font-weight: bold;
}

.head_space
{
    width: 30%;
}


/*Navigation menu*/
nav
{
    display: flex;
    flex-direction : row;

    /*Allignement
    Principal axis : justify-content : flex-start/ flex-end/ center/ space-between/ space-around*/
    justify-content: space-between;

    /*Secondary axis : align-items : stretch /flex-start /flex-end /center/baseline*/
    align-items: center;

    flex-wrap: wrap;
}

nav a
{
    margin: 3px;
    font-size: 0.8em;
}



/*==============================*/
/*========== HOMEPAGE (login.html) ==========*/

#homepage
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    /*Allignement
    Principal axis : justify-content : flex-start/ flex-end/ center/ space-between/ space-around*/
    justify-content: space-around;

    /*Secondary axis : align-items : stretch /flex-start /flex-end /center/baseline*/
    align-items: center;

    /*Display borders for testing*/
    /*border-width: 2px;
    border-color:  rgb(200,200,200);
    border-style: solid;*/
}


#homepage__signup, #homepage__login
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    /*Allignement
    Principal axis : justify-content : flex-start/ flex-end/ center/ space-between/ space-around*/
    justify-content: center;

    /*Secondary axis : align-items : stretch /flex-start /flex-end /center/baseline*/
    align-items: center;

    padding-top: 5%;
    
    /*Display borders for testing*/
    /*border-width: 1px;
    border-color:  rgb(200,200,200);
    border-style: solid;*/
}



/*==============================*/
/*========== SIGN-UP PAGE ==========*/

#signup_form
{
    display: flex;
    flex-direction : column;
    flex-wrap: wrap;

    /*Allignement
    Principal axis : justify-content : flex-start/ flex-end/ center/ space-between/ space-around*/
    justify-content: center;

    /*Secondary axis : align-items : stretch /flex-start /flex-end /center/baseline*/
    align-items: center;
}

.helptext, #signup_form ul li
{
    color: rgb(150, 150, 150);
    font-size: 0.8em;
}


/*==============================*/
/*========== BUTTONS ==========*/

button
{
    background-color:  rgb(255,255,255);
    border-radius: 5px;
    border-color: rgb(0,0,0);
}

button a
{
    text-decoration: none;    
}



/*==============================*/
/*========== HOME PAGE (home.html and my_posts.html) ==========*/

#homeblocpage
{
    display: flex;
    flex-direction : column;

    /*Allignement
    Principal axis : justify-content : flex-start/ flex-end/ center/ space-between/ space-around*/
    justify-content: center;

    /*Secondary axis : align-items : stretch /flex-start /flex-end /center/baseline*/
    align-items: center;
}


#homeblocpage .ticket, #homeblocpage .review
{
    width: 55%;

    /*Display borders for testing*/
    border-width: 1px;
    border-color:  rgb(50, 50, 50);
    border-style: solid;

    margin-top: 2%;

    padding: 1% 1% 1% 1%;
}


#homeblocpage .ticket
{
    background-color: rgb(255,245,245);       
}

#homeblocpage .review
{
    background-color: rgb(245, 255, 245);       
}

#homeblocpage .review .ticket-in-review
{
    background-color: rgb(245, 245, 255);       
}


#homeblocpage #ticket_and_review_creation
{
    width: 55%; /*as for .ticket, and .review width*/

    display: flex;
    flex-direction : row;
    /*Allignement
    Principal axis : justify-content : flex-start/ flex-end/ center/ space-between/ space-around*/
    justify-content: space-around;
    /*Secondary axis : align-items : stretch /flex-start /flex-end /center/baseline*/
    align-items: center;
}


#homeblocpage #ticket_and_review_creation button
{
    width: 30%;
}


#homeblocpage .ticket 
{
    display: flex;
    flex-direction : column;

    /*Allignement
    Principal axis : justify-content : flex-start/ flex-end/ center/ space-between/ space-around*/
    justify-content: flex-start;

    /*Secondary axis : align-items : stretch /flex-start /flex-end /center/baseline*/
    align-items: flex-start;

}

#homeblocpage .ticket *, #homeblocpage .review *
{
    margin-left: 3%;
}

#homeblocpage .ticket .button--answer_a_ticket
{
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 80%;
}

.ticket .ticket--user_asks_review, .ticket .time_created, .review .ticket--user_asks_review, .review .time_created
{
    padding: 0;
    margin: 0;
}

.ticket .time_created, .review .time_created

{
    text-align: right;
    font-size: 0.8em;
    align-self: flex-end;
}

.ticket .ticket--title, .review .review--headline
{
        font-weight: bold;
}


.review .ticket-in-review
{
    width: 80%;

    /*Display borders for testing*/
    border-width: 1px;
    border-color:  rgb(50,50,50);
    border-style: solid;
    /*margin: auto;*/
    
}


#homeblocpage .ticket .ticket-buttons, #homeblocpage .review .review-buttons
{
    width: 80%;

    display: flex;
    flex-direction : row;

    /*Allignement
    Principal axis : justify-content : flex-start/ flex-end/ center/ space-between/ space-around*/
    justify-content: space-around;

    /*Secondary axis : align-items : stretch /flex-start /flex-end /center/baseline*/
    align-items: center;

    margin-top: 1%;
}



/*==============================*/
/*========== TICKETS =====*/

.ticket-creation-form, .ticket-update-form
{
    width: 60%;
    margin: auto;

    border-width: 1px;
    border-color:  rgb(50,50,50);
    border-style: solid;
    padding-left: 3%;
    padding-bottom: 1%;

    background-color: rgb(255,245,245);    
}

.ticket-modification-form_snippet
{
    width: 100%;

    display: flex;
    flex-direction : column;

    /*Allignement
    Principal axis : justify-content : flex-start/ flex-end/ center/ space-between/ space-around*/
    justify-content: space-around;
    /*Secondary axis : align-items : stretch /flex-start /flex-end /center/baseline*/
    align-items: flex-start;
}

.review-creation-form, .review-update-form 
{
    width: 60%;
    margin: auto;

    border-width: 1px;
    border-color:  rgb(50,50,50);
    border-style: solid;

    padding-left: 3%;

    padding-bottom: 1%;

    background-color: rgb(245, 255, 245);    
}

#review_and_ticket_creation .ticket, #review_creation_for_ticket .ticket, #review_update_for_ticket .ticket
{
    background-color: rgb(245,245,255);  
    width: 60%;     
    margin: auto;
    padding-left: 3%;
    padding-top: 1%;

    border-width: 1px;
    border-color:  rgb(50,50,50);
    border-style: solid;
}



/*==============================*/
/*=== RATING RADIO BUTTONS ===*/

.review_rating_choice 
{
    width: 80%;
}
.review_rating_choice div 
{
    width: 100%;
    display: inline-block;
}
.review_rating_choice div div 
{
    width: 15%;
}
.review_rating_choice div div label
{
    width: 60%;
}
.review_rating_choice div div label input
{
    width: 40%;
}



/*==============================*/
/*========== FOLLOWERS PAGE ==========*/

table, .table-link-td
{
    border-width: 1px;
    border-color:  rgb(100, 100, 100);
    border-style: solid;
}

table
{
    width: 60%;
}

.table-link-td
{
    width: 20%;
    text-align: center;

}

#follow_user_form
{
    width: 100%;

    display: flex;
    flex-direction : column;

    /*Allignement
    Principal axis : justify-content : flex-start/ flex-end/ center/ space-between/ space-around*/
    justify-content: space-around;
    /*Secondary axis : align-items : stretch /flex-start /flex-end /center/baseline*/
    align-items: center;

}



/*==============================*/
/*========== PICTURES ==========*/

img 
{
    max-width: 80%;
}