<!DOCTYPE html>

{% load static %}

<html>
    <head>
        <meta charset="utf-8">
        <title>The Reviews Project</title>
        <link rel="stylesheet" href="{% static './styles.css' %}" />
    </head>

    <body>

        <header>
        <div></div> <!--div for spacing with flexbox-->
        <p>LiTReview</p>
        <div>
        {%  if user.is_authenticated %}
            <a href="{% url 'home' %}">Flux</a>
            <a href="{% url 'my-posts' %}">Posts</a>
            <a href="{% url 'follow_users' %}">Abonnements</a>
            <p><a href="{% url 'logout' %}">Se déconnecter</a></p>
        {% endif %}
        </div>
        </header>

        {% block content %}{% endblock content %}
    </body>
</html>
