<!DOCTYPE html>

{% load static %}

<html>
    <head>
        <meta charset="utf-8">
        <title>The Literature Reviews Project</title>
        <link rel="stylesheet" href="{% static './styles.css' %}" />
    </head>

    <body>
        <header>
            <div class="head_space"></div> <!--div for spacing with flexbox-->
            <p id="head_title" class="head_space">LiTReview</p>

            {%  if user.is_authenticated %}
                <nav class="head_space">
                    <a href="{% url 'home' %}">Flux</a>
                    <a href="{% url 'my-posts' %}">Posts</a>
                    <a href="{% url 'follow_users' %}">Abonnements</a>
                    <a href="{% url 'logout' %}">Se déconnecter</a>
                </nav>

            {% else %}
                <div class="head_space"></div> <!--div for spacing with flexbox-->

            {% endif %}
        </header>

        {% block content %}{% endblock content %}

    </body>
</html>
